body {
  font-family: Helvetica;
  font-size: 13px;
}
#menu {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  text-align: left;
  width: 150px;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li a {
  display: inline-block;
  color: #0864c7;
}
#right {
  height: 1px;
  float: right;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}
#content {
  margin-top: 15px;
  float: left;
  width: 500px;
}
#content p, #content ul {
  color: #333;
  line-height: 18px;
}